<!-- <h1>Assalamu alaikum</h1>
<app-navbar></app-navbar>
<h2>{{ title }}</h2>
<img src="{{ imgUrl }}" alt="">
<img [src]="imgUrl" alt="">
<button disabled="{{ isDisable }}">submit interpolation</button>
<button [disabled]="isDisable">submit binding</button>

<button [class.active] = "isActive">click</button>
<button [class.active] = "isActive == false">click</button> -->

<!--
<button (click)="exp()">event bind test</button>
<input type="text" (keyMessage)="keyMessage($event)">
<input type="text" (keyMessage.enter)="keyMessage($event)"> evennt filering -->



<!-- app.component.html -->
<!-- <input type="text" (keyup.enter)="filteringAng(user)" #user id="filter"> -->
<!-- <input type="text"  [value]="userName" #username id="username" (keyup.enter)="getUser(username)"> -->
<!--
<input type="text" [(ngModel)] = "userName">
<h3>{{ userName }}</h3> -->

<!-- <h1 *ngIf="isLog; else message" >{{ userName }}</h1>
<h2 *ngIf="!isLog">not login</h2>

<ng-template #message>not really login</ng-template> -->
<!--
@if(isLog){
  {{ userName }}
}
@else if(isGuest){
  <h6>You are guest</h6>
}
@else{
  <h5>not loggign</h5>
}

<button (click)="log()" [disabled]="stopped">logIn</button>
<h1 *ngIf="logCount > 3">logged in exceed</h1>

<ng-template #callToAction>
  <button>Join now</button>
</ng-template>

<div [ngTemplateOutlet] = "callToAction">
  <h1>header</h1>
</div>

<div [ngTemplateOutlet]="callToAction">
  <h1>hero</h1>
</div>
/Users/mac/ng_pro/src/app/app.component.html
<div [ngTemplateOutlet]="callToAction">
  <h1>main content</h1>
</div>

<div [ngTemplateOutlet]="callToAction">
  <h1>footer</h1>
</div> -->

<div [ngSwitch]="userRole">
  <p *ngSwitchCase="'Admin'">
    You are wellcome admin
  </p>
  <p *ngSwitchDefault>
    wellcome ordinary
  </p>
  </div>
<ul>
  <li *ngFor="let prophetInfo of userInfo; let i = index; let userCount = count">
   {{ userCount }} ---{{ i }} {{ prophetInfo.name}}
    <button (click)="onDelete(i)">Delete</button>

  </li>
</ul>
<p *ngIf="userInfo.length == 0">no users exist</p>

<ul>
@for(proInfo of userInfo; track userInfo; let i = $index; let userCount = $count; let first = $first; let last = $last; let even = $even; let odd = $odd;){
 <li>
 {{ even }} --{{ first }}--  {{ userCount }} --- {{ i }}{{ proInfo.name }}-- {{ last }} --{{ odd }}
    <button (click)="onDelete(i)">Delete</button>
  </li>

}
@empty{
  <p>no users exist</p>
}
</ul>


@if(userInfo.length == 0){
  <p >no users exist</p>
}


<button (click)="addNewUser()">add new user</button>


